# https://wiki.archlinux.org/index.php/SSMTP
root=###EMAIL ADDRESS HERE###
mailhub=smtp.gmail.com:587
hostname=###FULLY QUALIFIED URL###

FromLineOverride=YES
UseTLS=Yes
UseSTARTTLS=Yes

AuthUser=###USERNAME (EMAIL)###
AuthPass=###PASSWORD###
AuthMethod=LOGIN
